{% extends 'base.html' %}
{% block title %}Site{% endblock %}
{% block main %}
<div class="row">
    <div class="col">
        Olá {{ usuario.funcionario.nome }}
    </div>
    <div class="col">
        Gerenciar:
        <a href="{% url 'funcionario_list' %}">Funcionários</a> |
        <a href="{% url 'departamento_list' %}">Departamentos</a>
    </div>
    <div class="col">
     <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <!-- <button type="submit">Logout</button>-->
        <a href="#" onclick="this.parentNode.submit(); return false;">Logout</a>
    </form>
    {% with empresa=usuario.funcionario.empresa %}
        <a href="{% if empresa %}{% url 'empresa_update' empresa.id %}{% else %}{% url 'empresa_create' %}{% endif %}">
            {% if empresa %}Atualizar Empresa{% else %}Criar Empresa{% endif %}
        </a>
    {% endwith %}
    </div>
  </div>
{% endblock %}